.reverse-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
}

.reverse-btn {
    padding: 2px;
    border-radius: 50%;
    border: none;
    background: #2ecc71;
    color: white;
    font-size: 10px;
    cursor: pointer;
    height: 18px;
    width: 18px;
}
